/* Shared */
.root {
  padding: 0 1.2rem;
}
.inner {
  justify-content: flex-start;
}

.icon_collapsed {
  margin-right: 0;
}

/* Subtle variant */
.subtle_root {
  color: var(--color-primary-1);
}
.subtle_root:hover {
  color: var(--color-primary-6);
}
.subtle_root:hover svg {
  color: var(--color-primary-6);
}
.subtle_icon {
  color: var(--color-primary-1);
}

/* Filled variant */
.filled_root:hover {
  background-color: var(--color-primary-6);
}
