.tab {
  font-weight: 500;
  color: var(--mantine-color-gray-6);
}
.tab[data-active='true'] {
  background: var(--color-primary-1);
  color: var(--color-primary-7);
}

.tab[data-active='true']:hover {
  background: var(--color-primary-1);
  color: var(--color-primary-7);
}

.tab:hover {
  background: var(--color-primary-1);
  color: var(--color-primary-7);
}

.panel {
  padding: 2.4rem 1.2rem 0 1.2rem;
}
