.modal {
  padding: 0;
  overflow: hidden;
}
.header {
  padding: 1.2rem 2.4rem;
  background-color: var(--color-primary-6);
}
.title {
  text-transform: uppercase;
  font-weight: 600;
  color: var(--color-primary-0);
}
.body {
  padding: 1.2rem 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.close {
  color: var(--color-primary-0);
}
.close:hover {
  background-color: var(--color-primary-6);
}
