:root {
  --color-primary-0: var(--mantine-color-turquoise-0);
  --color-primary-1: var(--mantine-color-turquoise-1);
  --color-primary-2: var(--mantine-color-turquoise-2);
  --color-primary-3: var(--mantine-color-turquoise-3);
  --color-primary-4: var(--mantine-color-turquoise-4);
  --color-primary-5: var(--mantine-color-turquoise-5);
  --color-primary-6: var(--mantine-color-turquoise-6);
  --color-primary-7: var(--mantine-color-turquoise-7);
  --color-primary-8: var(--mantine-color-turquoise-8);
  --color-primary-9: var(--mantine-color-turquoise-9);
}

.button_label {
  font-weight: 500;
}

.input_label {
  color: var(--mantine-color-gray-6);
}

.w-full {
  width: 100% !important;
}

.p-none {
  padding: 0 !important;
}
.block {
  display: block !important;
}

.bold {
  font-weight: 600;
}

.justify-self-end {
  justify-self: end;
}

.display-none {
  display: none !important;
}

.mt-auto {
  margin-top: auto !important;
}

.modal_form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.flex {
  display: flex;
}

.gap-sm {
  gap: 0.8rem;
}

.flex-col {
  flex-direction: column;
}
