* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Inter', 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  margin: 0;
}

:root {
  --color-primary-0: var(--mantine-color-turquoise-0);
  --color-primary-1: var(--mantine-color-turquoise-1);
  --color-primary-2: var(--mantine-color-turquoise-2);
  --color-primary-3: var(--mantine-color-turquoise-3);
  --color-primary-4: var(--mantine-color-turquoise-4);
  --color-primary-5: var(--mantine-color-turquoise-5);
  --color-primary-6: var(--mantine-color-turquoise-6);
  --color-primary-7: var(--mantine-color-turquoise-7);
  --color-primary-8: var(--mantine-color-turquoise-8);
  --color-primary-9: var(--mantine-color-turquoise-9);

  --color-gray-0: var(--mantine-color-gray-0);
  --color-gray-1: var(--mantine-color-gray-1);
  --color-gray-2: var(--mantine-color-gray-2);
  --color-gray-3: var(--mantine-color-gray-3);
  --color-gray-4: var(--mantine-color-gray-4);
  --color-gray-5: var(--mantine-color-gray-5);
  --color-gray-6: var(--mantine-color-gray-6);
  --color-gray-7: var(--mantine-color-gray-7);
  --color-gray-8: var(--mantine-color-gray-8);
  --color-gray-9: var(--mantine-color-gray-9);

  --default-radius: var(--mantine-radius-md);
  --default-shadow: var(--mantine-shadow-md);
}

/* .button_label {
  font-weight: 500;
} */

form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
