main {
  flex-grow: 1;
  padding-top: 0.6rem;
  /* background-image: url(../../../assets/images/main-background.svg); */
}

.main_container {
  background-color: var(--mantine-color-white);
  background-image: url(../../../assets/images/main-background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: center; */
  border-top-left-radius: 32px;
  padding: 3.2rem 2.4rem 0rem 2.4rem;
  height: 100%;
}
.sub_container {
  /* background-color: var(--mantine-color-white); */
  border-top-left-radius: 32px;
  padding: 2.4rem 1.2rem;
}
