.inputLabel {
  color: var(--color-gray-6);
}

.tabLabel {
  color: var(--color-gray-7);
  font-weight: 600;
}

.tabPanel {
  padding: 2.4rem 1.2rem 0 1.2rem;
}

.modalRoot {
  z-index: 1000;
}

.modalModal {
  padding: 0;
}
.modalHeader {
  padding: 1.6rem 2.4rem;
  background-color: var(--color-primary-6);
  margin-right: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.modalTitle {
  letter-spacing: 1px;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--color-primary-0);
}
.modalBody {
  padding: 1.2rem 2.4rem 2.4rem 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.modalClose {
  color: var(--color-primary-0);
}

.modalClose:hover {
  background-color: var(--color-primary-6);
}

/* Table styling  */

.table {
  border-spacing: 0;
  border: 1px solid var(--color-gray-4);
  border-radius: 8px;
  border-collapse: separate;
  background-color: #fff;
  color: var(--color-gray-5);
  table-layout: fixed;
}

.table thead {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.table tbody {
  display: block;
  overflow-y: auto;
}

.table tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

/* Header */
.table thead tr th {
  background-color: var(--color-gray-1);
  color: var(--color-gray-6);
  font-weight: 600;
  padding: 0.8rem 1.2rem;
}

.table th:first-child {
  border-top-left-radius: 8px;
}

.table th:last-child {
  border-top-right-radius: 8px;
}

.table[data-hover] tbody tr:hover {
  background-color: var(--mantine-color-gray-0);
}
