name: Frontend Deployment Pipeline

on:
  pull_request:
    branches: [main]
    types: [opened, synchronize]
    paths:
      - 'frontend/**'
defaults:
  run:
    working-directory: ./frontend

jobs:
  cancel-previous:
    runs-on: ubuntu-22.04
    steps:
      - name: Cancela la ejecuci贸n anterior
        uses: styfle/cancel-workflow-action@0.11.0
        with:
          access_token: ${{ github.token }}

  npm-ci:
    runs-on: ubuntu-22.04
    steps:
      - name: Descarga el c贸digo fuente
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Configura Node
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'npm'
          cache-dependency-path: './frontend/package-lock.json'

      - name: Instala las dependencias
        run: npm ci

  lint:
    needs: npm-ci
    runs-on: ubuntu-22.04
    steps:
      - name: Descarga el c贸digo fuente
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Configura Node
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'npm'
          cache-dependency-path: './frontend/package-lock.json'

      - name: Instala las dependencias
        run: npm ci

      - name: Ejecuta el linter
        run: npm run lint

  build:
    needs: npm-ci
    runs-on: ubuntu-22.04
    steps:
      - name: Descarga el c贸digo fuente
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Configura Node
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'npm'
          cache-dependency-path: './frontend/package-lock.json'

      - name: Instala las dependencias
        run: npm ci

      - name: Genera la build
        run: npm run build
